@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film collection</h1>
    <img src="/img/JoelHiltonHeadshot.jpg" alt="A creepy picture of Joel Hilton smiling." />
</div>
